@font-face {
    font-family: 'Markazi Text';
    font-style: normal;
    font-weight: 400 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/markazitext/v27/syk0-ydym6AtQaiEtX7yhqbVoXWV.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/ibmplexserif/v19/jizDREVNn1dOx-zrZ2X3pZvkTiUf2zc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background-color: lightblue;
    color: black;
    font-family: 'IBM Plex Serif';
}

#content {
    margin: 5em 30em 5em 30em;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding: 3em;
    padding-top: 2em;
    background-color: white;
    max-width: 700px;
    justify-content: center;
}

.context-block {
    margin-left: 20px;
    padding: 10px;
    background-color: #e6f2ff;
    border-left: 2px solid #0066cc;
}

.article-link {}

img {
    width: 80%;
}

a {
    color: blue;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    padding: 5px;
}

h1,
h2,
h3,
h4 {
    font-family: 'Markazi Text', sans-serif;
    font-size-adjust: 0.6;
    padding-top: 1em;
}